// Header
.header{
    background-color: #ffffff;
    // backdrop-filter: saturate(50%) blur(4px);
    // background-size: 14px 14px;
    // &:hover {
    //     background-image: radial-gradient(transparent 1px,#ffffff 1px);
    //     background-color: transparent;
    // }
    .nav .link {
        height: 100%;
        color: $text-light;
        cursor: pointer;
        &:hover {
            animation: dither .3s ease;
            animation-iteration-count: 1;
        }
    }
    .search_input .input{
        input,div.btn {
            background-color: rgb(219,217,217);
            opacity: 0.3;
            transition: opacity .2s ease;
        }
        &:hover input, &:hover div.btn {
            background-color: rgb(219, 217, 217);
            opacity: 0.4;
        }
        div.btn img {
            transition: background .2s ease;
            &:hover {
                background-color: rgba(0,0,0,.2);
            }
        }
        .search_box {
            li:hover {
                background-color: rgba(0 0 0 / 10%);
            }
        }
    }
    .icon_list li:hover img {
        animation: dither .3s ease;
        animation-iteration-count: 1;
    }
    @keyframes dither {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-4px);
        }
        100% {
            transform: translateY(0px);
        }
    }
};
// Card
.card {
    user-select: none;
    & > .img {
        box-shadow: 0 1px 2px rgba(0 0 0 / 10%);
        .play .ant-image {
            transition: transform .2s ease-out;
        }
        &:hover .play {
            opacity: 1
        }
        &:hover .play .ant-image {
            transform: scale(0.8);
        }
    }
    .card-shadow {
        background-repeat: no-repeat;
        background-image: linear-gradient(
            transparent, rgba(0,0,0,.5)
        );
        color: #fff;
    }
    .play {
        background-color: rgba(0,0,0,.2);
        opacity: 0;
        transition: opacity .2s ease-out;
    }
    .name {
        color: $text-color;
        &:hover {
            color: $text-active-color;
        }
    }
};
// CardList
.cardlist {
    div.icon {
        height: 32px;
        padding-right: 8px;
        cursor: pointer;
        img{
            height: 100%;
        }
    }
    .more {
        &:hover {
            color: $text-active-color;
        }
    }
};
// Swiper
.swiper {
    .swiper-filter {
        background-repeat: no-repeat;
        background-size: cover;
        transition: background .3s ease;
        filter: blur(80px);
    }
    & .swiper-button-next, .swiper-button-prev {
        color: #fff;
        transition: background ease .3s;
        background-color: rgba(0,0,0,.4);
        &::after{
            font-size: 16px;
        }
        &:hover {
            background-color: $text-active-color;
        }
    }
    & .swiper-button-next {
        border-radius: 0 6px 6px 0;
        right: 0px;
        opacity: 0;
        transition: opacity .3s ease;
    }
    & .swiper-button-prev {
        border-radius: 6px 0 0 6px;
        left: 0px;
        opacity: 0;
        transition: opacity .3s ease;
    }
    &:hover .swiper-button-prev, &:hover .swiper-button-next {
        opacity: 1;
    }
    & .swiper-slide {
        transition: transform .3s ease;
        transform: scale(0.85);
        &.swiper-slide-active {
            transform: scale(1);
        }
    }
};
// desc
.desc {
    & button.btn:hover {
        opacity: 0.7;
    }
    .movie_play ul li button:hover {
        color: rgb(248, 113, 113);
    }
}
// scroolBar
.scrollBar {
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: rgb(133, 127, 127);
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0);
        border-radius: 0;
        background: rgba(0,0,0,0.1);
    }
};
// playBtnlist
.playBtnlist{
    .btn.active {
        background-color: rgb(238, 182, 77);
        color: #fff;
    }
    .btn:hover {
        color: rgba(248, 113, 113, var(--un-text-opacity));
    }
    .btn.active:hover{
        background-color: rgb(248, 201, 113);
        color: #fff;
    }
}