.header{
    background-color: #ffffff;
    backdrop-filter: saturate(50%) blur(4px);
    background-size: 8px 8px;
}
.header:hover {
    background-image: radial-gradient(transparent 1px,#ffffff 1px);
    background-color: transparent;
}
.describe {
    box-sizing: border-box;
}
.mask{
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    transition: .4s;
}
.card .mask:hover{
    opacity: 1;
}