// Header
.header{
    background-color: #ffffff;
    backdrop-filter: saturate(50%) blur(4px);
    background-size: 8px 8px;
    &:hover {
        background-image: radial-gradient(transparent 1px,#ffffff 1px);
        background-color: transparent;
    }
}
// Card
.mask{
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    transition: .4s;
    &:hover {
        opacity: 1;
    }
}
.card > .flex .cursor-pointer {
    color: $text-color;
    &:hover {
        color: $text-active-color
    }
    .starring {
        color: $text-g;
    }
}